.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  img {
      width: 100%;
      max-height: 40rem;
  }

  .row {
      margin-left: 3rem;
      margin-right: 3rem;
      margin-top: 2rem;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }